.ntg-event-details {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 1.5rem;

    @include media-breakpoint-down(lg) {
        margin-bottom: 3rem;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
    }

    h2 {
        font-size: $font-size-base;
        margin-bottom: 0.5rem;
    }

    &__section {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
    
    ul {
        @extend .list-unstyled;
    }

    li {
        display: grid;
        grid-template-columns: repeat(0, minmax(0, 1fr));
        grid-auto-flow: column;
        
        strong {
            font-weight: 600;
        }
    }
}