.ntg-side-docs {
    &__item {
        display: flex;
        gap: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $border-color-dark;
    }

    a {
        font-weight: 700;
    }

    &__metadata {
        color: #666;
        font-size: $font-size-sm;
    }
}