.ntg-side-nav {
    margin-bottom: 2rem;
    
    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }

    .accordion-button {
        padding: 1rem 1.5rem;
        box-shadow: none;
    }

    .accordion-item {
        border-radius: $border-radius !important;
        border-color: $border-color !important;

        .accordion-header {
            display: block;

            @include media-breakpoint-up(lg) {
                display: none;

                ~ #nav-default {
                    display: block !important;
                }
            }
        }

        .accordion-button {
            border-radius: $border-radius !important;

            &:not(.collapsed) {
                background-color: $white;
            }
        }

        &:has(.accordion-button:not(.collapsed)) {
            background-color: $white;
        }
    }

    .accordion-collapse {
        padding: 0;
    }

    #nav-default {
        > ul > li:not(:last-child)::after {
            content: '';
            background: $border-color;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 1.5rem;
            right: 1.5rem;
        }
    }

    ul {
        @extend .list-unstyled;
        margin-bottom: 0;
    }

    li {
        position: relative;
    }

    li.active {
        > a,
        > span {
            color: $black;
            font-weight: 700;
            background-color: tint-color($primary, 70%);

            &::before {
                width: 4px;
            }
        }
    }

    a {
        text-decoration: none;
        transition: 0.15s background-color ease-in-out;
        
        &:not(.ntg-side-nav__collapser) {
            &:hover,
            &:focus {
                background-color: tint-color($primary, 70%);

                &::before {
                    width: 4px;
                }
            }
        }
    }

    .ntg-side-nav__toggle {
        border-radius: 0;
        border: 1px solid $body-color;
    }

    .ntg-side-nav__title {
        font-size: $font-size-base;
        text-decoration: none;
        padding: 2rem 1.5rem;
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    a,
    span {
        display: block;
        padding: 1rem 1.5rem;

        &:not(.ntg-side-nav__collapser) {
            position: relative;

            &::before {
                content: '';
                background: $primary;
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.15s width ease-in-out;
            }
        }
    }

    li:last-child {
        a,
        span {
            &:not(.ntg-side-nav__collapser) {
                &::before {
                    border-bottom-left-radius: $border-radius;
                }
            }
        }
    }

    ul ul a {
        padding-right: 3rem;
        padding-left: 2rem;
    }

    ul ul ul a {
        padding-left: 3.75rem;
    }

    .ntg-side-nav__collapser {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 1.5rem 0 1rem;
        height: 56px;
        text-decoration: none;
        transition: 0.15s color ease-in-out;

        &:hover {
            color: $primary;
        }
    }

    .collapser {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        font-size: 0;

        @include media-breakpoint-down(lg) {
            padding: 0 2px 0 0;
        }
    }

    .collapser:after {
        content: '\2015';
        @include font-size(16px);
    }

    .collapsed .collapser:after {
        content: '\2026';
        @include font-size(20px);
        margin-bottom: 12px;
    }

    .collapse:not(.show) {
        display: none;
    }
}
