@use "sass:map";

// check custom-map-overrides for overriding theme colors

// Light Mode
$theme-colors-text: (
    "primary":    $primary-text,
    "secondary":  $secondary-text,
    // "tertiary":   $tertiary-text,
    "success":    $white,
    "info":       $white,
    "warning":    $ntg-dark-gray,
    "danger":     $white,
    "light":      $ntg-dark-gray,
    "dark":       $white
);

@each $color-name, $color-values in $base-colors {
    $theme-colors-text: map-merge($theme-colors-text, (
        #{$color-name}: map.get($color-values, "text-color")
    ));
}

@each $color-name, $color-values in $base-colors {
    $theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, (
        #{$color-name}: map.get($color-values, "bg-subtle")
    ));
}

@each $color-name, $color-values in $base-colors {
    $theme-colors-border-subtle: map-merge($theme-colors-border-subtle, (
        #{$color-name}: map.get($color-values, "border-subtle")
    ));
}

@each $color-name, $color-values in $base-colors {
    $utilities-bg-subtle: map-merge($utilities-bg-subtle, (
        #{$color-name}-subtle: var(--#{$prefix}#{$color-name}-bg-subtle),
    ));
}
